body {
    margin-top: 50px;
}

header {
    position: fixed;
    height: 50px;
    top: 0;
    width: 100%;
    background-color: red;
    z-index: 10;
}
.container {
    display: flex;
}
.addState {
    background-color: blue;
    width: 50%;
    height: 250px;
    padding: 50px;
    border: 2px solid blue;
}
.addCity {
    background-color: green;
    width: 50%;
    height: 250px;
    padding: 50px;
    border: 2px solid green;
}
.addPublisher {
    background-color: yellow;
    width: 50%;
    height: 250px;
    padding: 50px;
    border: 2px solid yellow;
}
.addCategories {
    background-color: violet;
    width: 50%;
    height: 250px;
    padding: 50px;
    border: 2px solid violet;
}
.addBooks {
    background-color: red;
    width: 100%;
    height: 250px;
    padding: 50px;
    border: 2px solid red;
}
.highlighted {
    border: 2px solid white;
    box-shadow: inset 0px 0px 100px 0px white;
}