.container {
    background-color: blue;
    padding: 100px;
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.option {
    background-color: red;
    width: 200px;
    height: 200px;
}