.container {
    background-color: blue;
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.option {
    background-color: red;
    width: 20px;
    height: 20px;
}