body {
    display: flex;
}
.sign_in {
    width: 50%;
    height: max-content;
    background-color: #00ff4c;
    border-right: 1px solid #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sign_in-field {
    width: 200px;
    height: 100px;
    background-color: red;
}
.sign_up {
    width: 50%;
    height: max-content;
    background-color: #0066ff;
    border-left: 1px solid #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sign_up-field {
    width: 100px;
    height: 100px;
    background-color: red;
}